.login-form{
    width:100%;
    max-width:400px;
    padding:.375rem .75rem;
    margin:auto;
    height:60%;
    box-sizing: border-box;
}

.login-form h1,h2 {
    text-align: center;
  }